<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
  <div class="gr">
    <h2 >Hello From Afar</h2>
  </div>
  <div id="colorizer">
    <p>Once upon a time, two <b class="blue"> @Model.Noun1</b> were passing through a street. Suddenly they spotted a loaf of bread lying beneath a tree. Both pounced upon it and caught the loaf at the same time. “It is mine. I saw it first," claimed one. While the other said, “I pounced upon it first and so it belongs to me." After having fought for a while, one said, “Let us divide it into two and take one piece each." “Indeed, a <b class="purple">@Model.Verb2 </b>idea," said the other. “But how do we divide it now?"

    A <b class="red"> @Model.Noun2</b> sitting on the branch of the tree had watched all that happened between the two <b class="blue"> @Model.Noun1</b>. “That loaf of bread looks good. I could do with it myself," he thought. Slowly he came down from the tree and walked up to the confused <b class="blue"> @Model.Noun1</b>.

    “Yes, my dear friends! Can I help you?" asked the <b class="red"> @Model.Noun2</b>. The <b class="blue"> @Model.Noun1</b> told the <b class="red"> @Model.Noun2</b> what the problem was and said, “Why do not you be the judge between us?" When the <b class="red"> @Model.Noun2</b> nodded, the <b class="blue"> @Model.Noun1</b> said, “Please divide this loaf for us."

    The clever <b class="red"> @Model.Noun2</b> smilingly broke the bread into two pieces. But one piece was a little bigger that the other. “OH no! I will take a little bite of this bigger piece to make both equal," said the <b class="red"> @Model.Noun2</b>, slyly. He took a bite from the bigger piece. But, he had taken a <b class="orange"> @Model.Adjective1 </b> bite. “Uh oh! Now it has become smaller than the other piece. I will just have to take a little <b class="green">@Model.Verb1 </b> from this piece now," said the clever <b class="red"> @Model.Noun2</b>.

    The Judge <b class="red"> @Model.Noun2</b> took another bite. The two <b class="blue"> @Model.Noun1</b> sat in front of the <b class="red"> @Model.Noun2</b>, seeing the loaf of bread they had found getting smaller and smaller. When the whole loaf was eaten by the <b class="red"> @Model.Noun2</b>, the <b class="red"> @Model.Noun2</b> said, “I am sorry. It was really difficult to divide that loaf. I must be going now." And the <b class="red"> @Model.Noun2</b> jumped onto the tree and was gone. “If only we had not quarreled among ourselves, we would have remained united and we need not have to go to the <b class="red"> @Model.Noun2</b> and to become hungry now," said the two  <b class="blue"> @Model.Noun1</b>. </p>
    </div>
    <a href="/form"><button id="btnLocation">Go Again!</button></a>
  </body>
</html>